/* Общак: */
.epoxide {
    background-image: url("../image/epoxide.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    height: 100%;
    /* overflow: hidden; */
}
a {
    text-decoration: none;
    color: #000;
}
h3 {
    font-weight: 600;
}
ul, ul li {
	list-style: none;
}
ul, li {
    list-style-type: none;
    /* Убираем маркеры */
}


.my_color {
    background-color: #fff;
}
body::-webkit-scrollbar {
    width: 14px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    /* background: #cacaca   ;     цвет дорожки */
    background: #fff;    
}
body::-webkit-scrollbar-thumb {
    background-color: #000000;    /* цвет плашки */
    /* border-radius: 10px;       закругления плашки */
    /* border: 3px solid orange;  padding вокруг плашки */
}
.general {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* header: */
.curtain {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0;
}
.curtain-menu-ul {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    margin-bottom: 0;
}
.curtain-menu-li a{
    font-size: 12px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: bold;
    /* transition: all 0.4s ease; */
}
.curtain-menu-li a:hover{
    color: #fe6565;
}

/* .menu_board a{
    font-size: 18px;
    color: #000000;
    transition: all 0.4s ease;
    opacity: 0.7;
}
.menu_board a:hover{
    opacity: 1;
    color: #000000;
} */
.header-menu-ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #cfcfcf;
}
.header-menu-li a{
    font-size: 14px;
    letter-spacing: 2px;
    color: #000000;
    /* transition: all 0.4s ease; */
}
.header-menu-li a:hover{
    color: #fe6565;
}

.number {
    padding-right: 10px;
    border-right: 1px solid #c7c7c7;
}
.email {
    padding-left: 10px;
}
.number, .email{
    cursor: pointer;
    font-size: 16px;
    color: #4b4b4b;
    /* text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #000000; */
}
.number i, .email i {
    padding-right: 3px;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* Страница main (главная),  */
.wrapper {
    margin-top: 15px;
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
}

.container-my {
    /* margin-left: 146px;
    margin-right: 146px; */
    width: 100%;
    display: flex;
    /* padding: 0 20px; */
}

.slide {
    border: 1px solid #939393;
    height: 65vh;
    /* border-radius: 20px; */
    margin: 2px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.slide .slide-content{
    position: absolute;
    font-size: 25px;
    top: 30%;
    /* left: 7%; */
    margin: 0;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 64px 6px rgba(0, 0, 0, 0.6);
}
.slide-content {
    padding-left: 90px;
}
.slide.active {
    flex: 10;
}
.slide.active .slide-content {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.slide-content-title {
    font-size: 40px;
}
.slide-content-text {
    margin-top: 20px;
}
.slide-content-btn {
    margin-top: 15px;
}
.slide-content-btn a{
    font-size: 22px;
    display: inline-block;
    padding: 15px 25px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
}
.slide-content-btn a:hover{
    background-color: #333;
}


.our-services {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.our-services-item {
    /* margin-right: 28px; */
    width: 400px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.our-services-icon {
    display: flex;
    justify-content: center;
}
.our-services-title {
    display: flex;
    justify-content: center;
    font-size: 19px;
    opacity: 0.7;
}



.bestseller {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 40px;
    /* background-color: #f2f2f2db; */
    background-color: #0f6d76;
}
.bestseller h3 {
    margin-left: 1.2rem;
    color: #fff;
}

.text-about-us {
    margin-top: 100px;
}
.text-about-us p {
    opacity: .7;
}



.last-news {
    margin-top: 100px;
}

.news-conteiner {
    margin-top: 30px;
    display: flex;
}
.news-card {
    background-color: #f2f2f2db;
    margin-right: 20px;
    width: 300px;
    /* border: 1px solid red; */
    /* height: 500px; */
    position: relative;
    border-radius: 5px;
}
/* .news-card-img {
    max-height: 200px;
} */
.news-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    padding: 3px 9px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.news-image:hover + .news-btn, .news-btn:hover{
    color: #000;
    border: 1px solid #000;
}
.news-image img {
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.news-card-content {
    padding: 20px;
}
.news-card-content-date {
    opacity: 0.7;
    font-size: 13px;
}
.news-card-content-title {
    padding-top: 10px;
    margin-bottom: 25px;
    height: 60px;
    font-size: 21px;
}
.news-card-content-title a {
    color: #000;
    line-height: 0px;
}
.news-card-content-text {
    font-size: 15px;
    opacity: 0.9;
    height: 85px;
    overflow: hidden;
}
.ellipsis {
    position: absolute;
    font-size: 20px;
    letter-spacing: 5px;
    bottom: 15px;
    right: 25px;
}




.ideas {
    position: relative;
    /* display: flex; */
    height: 620px;
    /* justify-content: center; */
    /* align-items: center; */
}
/* .ideas-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.ideas-img-container {
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}
.ideas-img-container img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.ideas {
    background-image: url('../image/ideas/ideas.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ideas1 {
    background-image: url('../image/ideas/ideas1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ideas2 {
    background-image: url('../image/ideas/ideas2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ideas3 {
    background-image: url('../image/ideas/ideas3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ideas4 {
    background-image: url('../image/ideas/ideas4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ideas5 {
    background-image: url('../image/ideas/ideas5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* footer: */
.footer {
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 19px;
    background-color: #efefef;
    padding-top: 30px;
}

.footer_columns {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_menu_item {
    font-size: 15px;
    list-style-type: none;
    margin-bottom: 5px;
}

.conf {
    display: flex;
    justify-content: center;
}
.conf-polit {
    font-size: 14px;
    opacity: .9;
    margin-bottom: 15px;
    font-size: 12px;
    opacity: 0.7;
    color: #000;
}

.footer_menu_item a {
    text-decoration: none;
    color: #555;
}

.menu_title{
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 500;
}
.menu_title:first-child {
    margin-bottom: 0px;
}

.footer-messengers {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.footer-messengers a img {
    display: inline-block;
    margin-top: 2px;
}
.footer-messengers a {
    margin-right: 20px;
    color: #000;
}
.footer-messengers a:hover {
    opacity: 0.7;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* страница Boards */
.card_one {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
} 

.sizes {
    display: flex;
    justify-content: space-around;
}

.oredr-success {
    display: block;
}
.order-none {
    display: none;
}
/* .furniture-price i, p{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
} */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* Страница furniture (furniture.php)*/
.swiper {
    width: 100%;
    height: 100%;
}

.furniture_content {
    font-size: 14px;
    min-width: 40%;
}
.furniture_name {
    padding: 0;
    height: 100px;
} 


.furniture-card {
    margin: 0 auto;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06); */
	/* transition: all .3s; */
    width: 300px;
}
.furniture-card:hover {
    /* box-shadow: 5px 14px 30px -15px rgba(0, 0, 0, 0.96); */
    box-shadow: 0 0 8px 3px rgb(185, 185, 185);
}

.furniture-thumb a{
    display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
	padding: 20px;
}
.furniture-thumb img {
    max-width: 100%;
	max-height: 100%;
}

.furniture-details {
    padding: 20px;
}
.furniture-details h4 a{
    font-size: 21px;
    font-weight: 300;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
    color: #000000;
}
.furniture-details span {
    font-size: 13px;
    opacity: 0.6;
}
.furniture-details h5 {
    font-size: 13px;
    opacity: 0.6;
    
    margin-top: 30px;
    margin-bottom: 20px;
}

.furniture-size {
    font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 46px;
	overflow: hidden;
}
.furniture-size div {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #aeaeae;
}
.furniture-size div:last-child {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    border: none;
}
.furniture-size div p {
    font-size: 13px;
    margin-bottom: 8px;
}

.furniture-bottom-details {
    overflow: hidden;
	border-top: 1px solid #d7d7d7;
	padding-top: 20px;
}
.furniture-price {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #000000;
    height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px;
}
.furniture-price span {
    display: inline-block;
    font-size: 19px;
    padding-left: 10px;
    text-decoration: line-through;
}
.furniture-links {
    width: 100%;
}
.furniture-links a {
    padding-top: 17px;
    padding-bottom: 13px;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: #000000;
    display: block;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid transparent;
}
.furniture-links a:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000000;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* Карточка board: */
.card_item {
    height: 100%;
    /* border-radius: 5px; */
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
    /* box-shadow: 8px 10px 3px -1px rgba(201, 201, 201, 0.76); */
    /* border: none; */
}

.list-group-my li {
    border: none;
    padding: 0;
    /* height: 100%; */
}
/* .list-group-my li, .card-body {
    background-color: #f1f1f1;
} */

.buy_btn {
    border-radius: 0px 0px 5px 5px;
    background-color: #777;
}
.buy_btn:hover {
    background-color: #888;
}
.buy_btn a{
    display: block;
    font-size: 14px;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* Страница одной карточки (board): */
.input_one {
    height: 60px;
    outline: 0;
    border-width: 0 0 1px;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* Страница одной карточки мебели (oneFurniture.php) */
.one-furniture-image {
    width: 600px;
    height: 600px;
    /* padding: 0 20px; */
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper-slide:hover {
    border-top: 1px solid #999;
}


.one-furniture-card {
    margin: 7% auto 0;
    width: 410px;
    font-weight: 300;
}
.one-furniture-card-top {
    padding: 20px;
    height: 50%;
    background-color: #ECF0F3;
}
.product-cod {
    font-size: 14px;
}
.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.product-price div:nth-child(1) {
    font-size: 38px;
}
.vmesto {
    display: block;
    font-size: 13px;
    line-height: 4px;
    text-decoration: none;
}
.vmesto-price {
    padding-top: 8px;
    font-size: 18px;
}
.vmesto-price i {
    text-decoration: line-through;
    font-style: normal;
}
.product-price div:nth-child(3) {
    font-size: 18px;
}

.installment-payment {
    opacity: 0.9;
    font-size: 15px;
}
.installment-payment span{
    display: inline-block;
    padding: 3px 7px 1px;
    background-color: #7e9c78;
    margin-left: 5px;
    font-size: 17px;
}

.one-furniture-card-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 15px;
}
.one-furniture-card-buy {
    padding: 11px 30px 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}
.one-furniture-card-buy i {
    /* font-weight: 400; */
    font-size: 17px;
    font-style: normal;
}
.one-furniture-card-buy:hover {
    cursor: pointer;
    background-color: #b09a87;
}
.ask-questions {
    padding: 12px 10px 5px;
    border: 1px solid #000;
}
.ask-questions:hover {
    cursor: pointer;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}

.one-furniture-card-bottom {
    padding: 20px;
    height: 50%;
    border: 1px solid #BDBDBD;
}
.one-furniture-card-bottom span {
    font-size: 14px;
    opacity: 0.8;
}
.vashego-goroda {
    font-size: 13px;
    padding-bottom: 7px;
}
.one-furniture-card-size {
    margin-top: 10px;
}

.one-furniture-color {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.there-color {
    display: flex;
    align-items: center;
    height: 50px;
}
.there-color-radius {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    opacity: .5;
}
.there-color-name {
    padding: 10px;
    font-size: 13px;
    opacity: .8;
    margin-top: 5px;
}

.all-collection {
    display: flex;
    justify-content: center;
    font-size: 15px;
    opacity: 0.8;
}
.all-collection span {
    font-weight: 700;
}   


.one-page-services {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.one-page-services-item {
    padding: 0 15px;
    /* opacity: .9; */
    flex: 1;
    display: flex;
    align-items: center;
    border-right: 1px solid #e2e2e2;
}
.one-page-services-item:last-child {
    border: none;
}
.one-page-services-item:first-child {
    padding-left: 0;
}
.one-page-services-icon {
    opacity: .8;
    margin-right: 10px;
}
.one-page-services-text {
    font-size: 14px;
}


.one-furniture-menu ul{
    display: flex;
    margin-top: 30px;
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
}
.one-furniture-menu ul li{
    margin-right: 50px;
    font-size: 14px;
    border: 2px solid transparent;
    cursor: pointer;
}

.furniture-menu-content {
    margin-top: 50px;
    width: 60%;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */





/* Изменение Bootstrap стилей: */
.nav-link {
    color: aliceblue;
}
.card-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.card-img-top {
    height: 100%;
    /* min-width: 100%; */
}
.card {
    border-radius: 0;
    --bs-card-inner-border-radius: 0;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* Logo: */
@import url(https://fonts.googleapis.com/css?family=Russo+One);    
.logotype4 {
    /* position: relative; */
    /* color: #DEBA50; */
    color: #000;
    opacity: 0.8;
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 34px;
    font-family: 'Russo One', sans-serif;
    font-variant: small-caps;
    transition: color 0.4s ease-in-out;
    text-shadow: 2px 2px #b1aea3, 2px 2px;
}
.logotype4 b {
    font-variant: normal;
}
.logotype4:hover {
    color: #000;
    opacity: 1;
}

.logo-style {
    display: flex;
    align-items: center;
}
.logo-left {
    margin: auto 0;
    font-size: 29px;
    border: 2px solid #000;
    padding-top: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 7px;
    line-height: 30px;
}
.logo-right {
    padding-top: 11px;
    font-size: 44px;
    margin-left: 3px;
    /* line-height: 0%; */
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */





/* Поле поиска search */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    /* border-radius: 25px; */
    transition: all .5s ease-in-out;
    background-color: #0f6d76;
    /* background-color: #60bac2; */
    padding-right: 40px;
    color:#000000;
}
.input-search::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    padding-top: 6px;
    right: 0px;
    color:#000000 ;
    background-color:transparent;
    pointer-events: painted;
}
  
.btn-search:focus ~ .input-search{
    width: 400px;
    border-radius: 0px;
    color: #000000;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus {
    color: #000;
    width: 400px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.search-drop-down-list {
    position: absolute;
    margin-top: 5px;
    z-index: 9;
    padding: 0px;
    width: 400px;
}
.search-drop-down-list a{
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    background-color: #0f6d76;
    width: 100%;
    margin-top: 2px;
    margin-right: 2px;
    padding-left: 10px;
}
.search-drop-down-list a:hover {
    background-color: #1e929c;
}

/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */






/* Модальное окно */
.modal-furniture-order {
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    width: 360px;
    height: 360px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 120;
    padding: 20px;
}
.modal-furniture-order form {
    padding-top: 20px;
}
.modal-furniture-order form input {
    border-radius: 0px;
    height: 40px;
}
.modal-furniture-order form button {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 13px;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: #000000;
    display: block;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid transparent;
    margin-top: 30px;
}
.modal-furniture-order form button:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000000;
}
.modal-order-close {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}
.modal-order-text {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 15px;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */





/* Изменение SwiperJs стилей */
.swiper-scrollbar {
    --swiper-scrollbar-border-radius: 30px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 9px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 0px;
    --swiper-scrollbar-sides-offset: 15%;
    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.3);
    --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0);
    --swiper-scrollbar-size: 5px;
    cursor: pointer;
}

.swiper-button-prev, .swiper-button-next {
    --swiper-navigation-size: 57px;
    font-weight: 800;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    /* --swiper-navigation-color: #dd1212; */
    --swiper-navigation-color: rgb(0, 0, 0);
    top: 35px;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
  





/* Мобильный вид */
@media only screen and (max-width: 600px) {
    .general {
        max-width: 600px;
    }

    .container-my {
        margin-left: 0px;
        margin-right: 0px;
    }
    .slide {
        position: absolute;
        font-size: 10px;
        top: 30%;
        left: 7%;
        margin: 0;
        opacity: 0;
        /* overflow: hidden; */
    }

    .slide-content {
        position: relative;
        width: 100%;
        background-color: #000;
    }
    .slide-content-title {
        font-size: 15px;
    }
    .slide-content-text {
        margin-top: 20px;
    }
    .slide-content-btn {
        margin-top: 15px;
    }
    .slide-content-btn a{
        font-size: 10px;
        display: inline-block;
        padding: 5px 15px;
        color: #fff;
        background-color: #000;
        border-radius: 5px;
    }
    .slide-content-btn a:hover{
        background-color: #333;
    }




    .menu_title {
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 500;
    }
    .menu_title-one {
        font-size: 13px;
        font-weight: 500;
    }
    .footer_menu_item {
        font-size: 11px;
    }
    .navbar_my {
        display: flex;
        flex-direction: column;
    }
    .navbar_my div {
        margin: 5px;
    }
    .menu_furniture a {
        font-size: 14px;
    }
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */